{% extends 'social/layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
        <title>  Green World</title>
    
        <!-- Additional CSS Files -->
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    
        <link rel="stylesheet" type="text/css" href="static/css/font-awesome.css">
    
        <link rel="stylesheet" href="static/css/templatemo-training-studio.css">
      </head>

    <body>

        <!--  Preloader Start  -->
        <div id="js-preloader" class="js-preloader">
            <div class="preloader-inner">
                 <span class="dot"></span>
                 <div class="dots">
                 <span></span>
                 <span></span>
                 <span></span>
                </div>
            </div>
        </div>
        <!-- ***** Preloader End ***** -->
  
        <!-- ***** Main Banner Area Start ***** -->
        <div class="main-banner" id="top">
             <video autoplay muted loop id="bg-video">
                <source src="static/images/Naturaleza_corto.mp4" type="video/mp4" />
            </video>
  
             <div class="video-overlay header-text">
                 <div class="caption">
                     <h6>Bienvenidos a</h6>
                     <h2>Green <em>World</em></h2>
                     <div class="main-button scroll-to-section">
                        <a href="#features">Mantenete informado</a>
                   </div>
                   <br>
                   <br>
                   <br>
                 <div class="main-button scroll-to-section">
                        <a href="#trainers">Ver los integrantes</a>
                 </div>
               </div>
            </div>
        </div>
         <!-- ***** Main Banner Area End ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>En este blog tratamos los 17<em> objetivos para salvar el planeta</em></h2>
                        <p>Estos 6 objetivos son importantes</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="static/images/salud.png" width="20%" margin="auto" alt="First One">
                            </div>
                            <div class="right-content">
                                <h4>Salud y Bienestar</h4>
                                <p>Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible. Por eso en los posts contamos un poco como mejorar!</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="static/images/gender.png" width="20%" margin="auto" alt="second one">
                            </div>
                            <div class="right-content">
                                <h4>Igualdad De Género</h4>
                                <p>La igualdad de género no solo es un derecho humano fundamental, sino que es uno de los fundamentos esenciales para construir un mundo pacífico, próspero y sostenible.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="static/images/trabajo.png" width="20%" margin="auto" alt="third gym training">
                            </div>
                            <div class="right-content">
                                <h4>Trabajo Decente Y Crecimiento Economico</h4>
                                <p>Un crecimiento económico inclusivo y sostenido puede impulsar el progreso, crear empleos decentes para todos y mejorar los estándares de vida.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="static/images/clima.png" width="20%" margin="auto" alt="fourth muscle">
                            </div>
                            <div class="right-content">
                                <h4>Acción Por El Clima</h4>
                                <p>Es necesario tomar medidas urgentes para abordar tanto la pandemia como la emergencia climática con el fin de salvar vidas y medios de subsistencia.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="static/images/pobreza.png" width="20%" margin="auto" alt="training fifth">
                            </div>
                            <div class="right-content">
                                <h4>Fin De La Pobreza</h4>
                                <p>En todo el mundo, los índices de pobreza en las áreas rurales son del 17,2 %; más del triple de los mismos índices para las áreas urbanas. Por eso es importante luchar contra la Pobreza.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="static/images/educacion.png" width="20%" margin="auto" alt="gym training">
                            </div>
                            <div class="right-content">
                                <h4>Educacion De Calidad</h4>
                                <p>La educación permite la movilidad socioeconómica ascendente y es clave para salir de la pobreza. Durante la última década, se consiguieron grandes avances a la hora de ampliar el acceso a la educación.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

        <!-- ***** Features Item Start ***** -->
  
  
         <section class="section" id="features">
            <div class="container">
                <div class="row">
                      <div class="col-lg-6 offset-lg-3">
                           <div class="section-heading">
                                <h2>Sección <em>Objetivos</em></h2>
                                <img src="static/images/line-dec.png" alt="waves">
                                <h2><p>Aquí econtraras todos los objetivos. Si queres enterarte mas sobre uno en particular, ingresa a los posts y enterate de todo! <em>Prueba tambien creando uno!</em></p></h2>
                            </div>
                        </div>
                    {% for category in categories %}
                    <div class="table-responsive">
                          <table class="table table-hover">
                          <thead>
                                <div class="col-lg-6">
                                 <ul class="features-items">
                                      <li class="feature-item">
                                          <div class="left-icon">
                                              <img src="{{category.image.url}}" style="margin: 0px 0px 0px 300px;width:600px;max-height:600px;"alt="First One">
                                          </div>
                                          <div class="right-content">
                                              <h4 class="card-title">{{category.name}} </h4>
                                              <a href="{% url 'feed' category.id %}" class="text-button">Leer Más</a>
                                          </div>
                                      </li>
                                  </ul>
                                </div>
                            </thead>
                    </div>
                </div>
        </section>
        {% endfor %}
                     
        <!-- ***** Features Item End ***** -->
  
        <!-- ***** Call to Action Start ***** -->

        <!-- ***** Call to Action End ***** -->
  
        <!-- ***** Testimonials Starts ***** -->
        <section class="section" id="trainers">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-5" style="margin: 0px 0px 0px 300px">
                        <div class="section-heading">
                            <h2>Parte del equipo <em>Desarrollador</em></h2>
                            <img src="static/images/line-dec.png" alt="">
                            <p>Integrantes del grupo 8 del Informatorio 2021</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="static/images/info.jpeg" alt="">
                            </div>
                            <div class="down-content">
                                <span>Programmer in training</span>
                                <h4>Damian Quiñonez</h4>
                                <p>Desarrollador Frond-End.</p>
                                <ul class="social-icons">
                                    <li><a href="https://instagram.com/damianqnz?utm_medium=copy_link"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="static/images/juan.jpeg" alt="">
                            </div>
                            <div class="down-content">
                                <span>Programmer in training</span>
                                <h4>Juan Pablo Gonzalez Gamarra</h4>
                                <p>Desarrollador Back-end</p>
                                <ul class="social-icons">
                                    <li><a href="https://www.instagram.com/juan_ggamarra/"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="static/images/toby.jpeg" alt="">
                            </div>
                            <div class="down-content">
                                <span>Programmer in training</span>
                                <h4>Tobias Garcia</h4>
                                <p>Desarrollador Full Stack</p>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
        </section>
                <section class="section" id="trainers">
            <div class="container">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="static/images/fabi.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <span>Programmer in training</span>
                                <h4>Fabiana Yamila Mohando</h4>
                                <p>Encargado de estilado y Front-end de la pagina</p>
                                <ul class="social-icons">
                                    <li><a href="https://instagram.com/damianqnz?utm_medium=copy_link"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="static/images/aye.jpeg" alt="">
                            </div>
                            <div class="down-content">
                                <span>Programmer in training</span>
                                <h4>Ayelen Nahir Moreno</h4>
                                <p>Encargado de estilado y Front-end de la pagina</p>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <img src="static/images/franco.jpeg" alt="">
                            </div>
                            <div class="down-content">
                                <span>Programmer in training</span>
                                <h4>Franco Nicolas Segura</h4>
                                <p>Encargado de estilado y Front-end de la pagina</p>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
        </section>
        <!-- ***** Testimonials Ends ***** -->
  
  
        <!-- ***** Footer Start ***** -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Diseñado por el Grupo 8 del Informatorio</p>   
                        <p>Esta pagina usó platillas de Bootstrap <a rel="nofollow" href="https://getbootstrap.com" class="tm-text-link" target="_parent">Get Bootstrap</a></p>
                        <p>Esta pagina usó Normalize CSS <a rel="nofollow" href="https://necolas.github.io/normalize.css/" class="tm-text-link" target="_parent">Get Normalize by Necolas</a></p>   
                    </div>
                </div>
            </div>
                <br>
                 <div class="main-button scroll-to-footer">
                        <a href="#top">Ir al Inicio</a>
                 </div>
        </footer>
  
          <!-- jQuery -->
        <script src="static/js/jquery-2.1.0.min.js"></script>
  
        <!-- Bootstrap -->
        <script src="static/js/popper.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
  
          <!-- Plugins -->
        <script src="static/js/scrollreveal.min.js"></script>
        <script src="static/js/waypoints.min.js"></script>
        <script src="static/js/jquery.counterup.min.js"></script>
        <script src="static/js/imgfix.min.js"></script> 
        <script src="static/js/mixitup.js"></script> 
        <script src="static/js/accordions.js"></script>
  
          <!-- Global Init -->
        <script src="static/js/custom.js"></script>
  
    
    </body>

</html>

{% endblock %}